@import '../styles/settings/config.eases';
@import '../styles/settings/config';
@import '../styles/tools/functions';

.page {
    position: relative;
    min-width: rem(320px);
    overflow: hidden;
}
