@import '../../styles/settings/config.eases';
@import '../../styles/settings/config.colors';
@import '../../styles/settings/config';
@import '../../styles/tools/functions';

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(68px);
    padding: rems(16px 20px);
    background: rgba($g-blue, 50%);
	z-index: 21;
}

.inner {
	display: flex;
	align-items: center;
	gap: 0 rem(26px);
	flex: 1;
}

.nav {
    display: flex;
    gap: rem(10px);
}

.navButton {
    > span {
        display: block;
        width: rem(24px);
        height: rem(24px);

        > svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--white);
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            svg {
                fill: var(--d-blue);
            }
        }
    }
}
